section.btn-hover
  h2.btn-hover__title Наведение на кнопки
  div.btn-hover__wrapper
    button.btn-hover__button.btn-hover__button--1(type="button") Избранное
    button.btn-hover__button.btn-hover__button--2(type="button") В корзину
    button.btn-hover__button.btn-hover__button--3(type="button") Продолжить
    button.btn-hover__button.btn-hover__button--4(type="button") #[span] #[span] #[span] #[span] Отправить
    button.btn-hover__button.btn-hover__button--5(type="button") 
      span Запросить звонок
    button.btn-hover__button.btn-hover__button--6(type="button")
      span Купить