section.modal
  h2.modal__title Плавное открытие модалки
  div.modal__wrapper
    button.modal__button.modal__button--open(type="button") Открыть окно
    div.modal__container
      div.modal__content
        p.modal__text Я здесь!
        button.modal__button.modal__button--close(type="button") Закрыть